<ul class="nav nav-tabs">
    <li class="nav-item">
        <h4>
            <a class="nav-link {% if not request.GET.sort %} active {% endif %}" href="{% url 'index' %}" style="font-size: 75%">Новые
            </a>
        </h4>
    </li>
    <li class="nav-item">
        <h4>
            <a class="nav-link {% if request.GET.sort == 'rating' %} active {% endif %}"
                href="{% url 'index' %}?sort=rating" style="font-size: 75%">Популярные
            </a>
        </h4>
    </li>
</ul>