{% load url_update %}

<nav aria-label="page navigation">
    <ul class="pagination">
        {% if items.has_previous %}
        <li class="page-item">
            <a class="page-link" href="?{% url_update page=items.previous_page_number %}">←</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" href="#">←</a>
        </li>
        {% endif %}

        <li class="page-item active">
            <span class="page-link">
                {{ items.number }} of {{ items.paginator.num_pages }}
                <span class="sr-only">⚬</span>
            </span>
        </li>

        {% if items.has_next %}
        <li class="page-item">
            <a class="page-link" href="?{% url_update page=items.next_page_number %}">→</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" href="#">→</a>
        </li>
        {% endif %}
    </ul>
</nav>